* {
  box-sizing: border-box;
  color: #3f64a0;
}

body {
  background-color: #ecf0f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#root > h1 {
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
}

form input {
  margin: 20px 0;
  padding: 0 10px;

  width: 540px;
  height: 40px;

  border: 2px solid #acc3e6;
  border-radius: 4px;
}

div#root > section {
  margin: 20px 0;
  padding: 0 10px;

  width: 540px;

  display: flex;
  justify-content: space-around;
}

section > div {
  margin: 20px 0;
  padding: 0 10px;

  width: 240px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #b4c3da; */
}

h2 {
  margin: 4px 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
